// FONT
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700&display=swap');

// SASS
$custom-font: 'Amatic SC', cursive;


.coffee-bean-background {
  background-image: url('./assets/background/mike-kenneally-TD4DBagg2wE-unsplash.jpg');
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-text {
  color: white;
  text-align: center;
  font-family: $custom-font;
}

.app-header {
  font-size: 600%;
}

.instructions {
  font-size: 250%;
}

.brew-methods {
  background-color: white;
  height: 7em;
  width: 7em;
  margin: 2em;
  border-radius: 50%;
  display: flex;
  border-style: solid;
  border-width: medium;
}

.brew-methods img {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
}